

<div class="jumbotron">
    <h1> Restorani.ba.. </h1>
</div>

<div class="row">

    <div class="col-md-6">
    <br/> <br/> <br/> <br/>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu ex congue, scelerisque felis vel, viverra erat. Morbi tempus, diam vitae laoreet elementum, urna dui molestie justo, sit amet tristique augue leo eget lacus. Donec a est vitae nisl feugiat porta vitae at tellus. Proin vel volutpat tortor. Integer ut porta urna. Aenean in auctor est, sed vulputate lorem. In id varius sapien. Sed varius sodales neque, ac consectetur nisl aliquam sed. 
    </p>

    </div>


    <div class="col-md-6">
        <img class="prvi_restoran_slika" src="/restoran-nello.jpg" />
    </div>


</div>

<br/> <br/> <br/> <br/>
<div class="row">

        <div class="col-md-4">
        <img class="dvije_zaredom_slike" src="/restoran-nello.jpg" />
        </div>

        <div class="col-md-4">
        <iframe width="320" height="200" src="https://www.youtube.com/embed/_sI_Ps7JSEk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="col-md-4">
        <img class="dvije_zaredom_slike" src="/restoran-nello.jpg" />
        </div>

</div>

























<style>
.prvi_restoran_slika{
    width: 500px;
    height: auto;
}

.dvije_zaredom_slike{
    width: 250px;
    height: auto;
}

</style>